html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-color:ground-color:#d10e11;
    color: red;
    
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
display:flex;
justify-content:center;
}
.navbar{
display:flex;
justify-content:space-between;
}
.footer{
display:flex;
justify-content:flex-end;
}
